.aur-component-avatar {
    .img-initials {
        aspect-ratio: 1 / 1;
        height: 100%;
        background-color: map-fetch($Avatar, Background color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
}
