html {
    height: 100%;
    background-color: var(--aur-background-color);

    body {
        margin: 0;

        &,
        #__nuxt,
        #__layout {
            height: 100%;
        }
    }
}
